
.btn{
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    
}

@media screen and (width < 600px){
    .btn{
        display: none;
    }
    
}

@media screen and (width >= 600px){
    .btn{
        display: block;
    }
    
}